<% if authorize_for("boards_watchers", "manage_topic") %>

  <% form_tag({:action => 'manage_topic'}, :multipart => true   ) do %>
		<% if params[:settings_url] %>
			<%= hidden_field_tag 'settings_url', params[:settings_url] %>
		<% end %>
		<%= hidden_field_tag 'board_id', @board.id %>
    <%= hidden_field_tag 'topic_id', @topic.id %>
		<fieldset class="box"><legend><%= h @project.name %> -> <%= h @board.name %> -> <%= h(@topic.subject) %></legend>
			<div class="tabular">
			<div class="box">
			<p><label><%= l(:label_issue_watchers) %></label>
			<% @project.users.sort.each do |user| -%>
			<label class="floating"><%= check_box_tag 'watcher_user_ids[]', user.id, @topic.watched_by?(user) %> <%=h user %></label>
			<% end -%>
			</p>
			</div>
			</div>

			<% groups = @project.member_principals.find(:all, :include => [:roles, :principal]).sort.select { |m| true if m.principal.class.name == 'Group' } %>
			<% if groups && groups.size > 0 %>
				<div class="tabular">
				<div class="box">
				<p><label><%= "#{l(:label_issue_watchers)} (#{l(:label_group_plural)})" %></label>
				<% groups.each do |group| -%>
				<label class="floating"><%= check_box_tag 'watcher_group_ids[]', group.principal.id, false %> <%=h group.principal %></label>
				<% end -%>
				</p>
				</div>
				</div>
			<% end %>
		</fieldset>
    <%= submit_tag l(:button_apply) %>
	<% end %>

<% end %>
